$green: #AAFFA9;
$cyan: #06e5de;

.brk-btn {
  position: relative;
  color: aqua;
  font-weight: 550;
  text-transform: uppercase;
  text-decoration: none;
  border-image: linear-gradient( 155deg, $green 0%, $cyan 100%) 1 round;
  background-clip: text;
  -webkit-background-clip: text;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #fff;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #fff;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    box-shadow: 
        0 0 0px 1px rgba(255,255,255,0.5),
        2px 2px 6px rgba(red($cyan), green($cyan), blue($cyan),0.4),
        -2px -2px 6px rgba(red($green), green($green), blue($green),0.4);
        
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}